.activityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: $marginBoxTopAndBottom;
  &__preambulContainer {
    width: $pageContentWidth;
    p:first-of-type {
      font-weight: $fontBold;
      font-style: italic;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 24px;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  &__pilateContainer {
    width: $pageContentWidth;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: $categorySize;
      margin: 60px 0 30px 0;
    }

    &__pilateContainerBloc1,
    &__pilateContainerBloc2 {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 24px;
      p {
        width: 100%;
      }
    }
    &__pilateContainerHour {
      p:first-of-type {
        margin-bottom: 24px;
      }
    }
  }

  &__gymSeniorContainer {
    width: $pageContentWidth;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: $categorySize;
      margin: 60px 0 30px 0;
    }
    &__gymSeniorContainerBloc1 {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 24px;
      p {
        width: 100%;
      }
    }
    &__gymSeniorHour {
      p:first-of-type {
        margin-bottom: 24px;
      }
    }
  }

  &__gymSoftContainer {
    width: $pageContentWidth;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: $categorySize;
      margin: 60px 0 30px 0;
    }
    &__gymSoftContainerBloc1 {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 24px;
      p {
        width: 100%;
      }
    }
    &__gymSoftHour {
      p:first-of-type {
        margin-bottom: 24px;
      }
    }
  }

  &__welfareDuoContainer {
    width: $pageContentWidth;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: $categorySize;
      margin: 60px 0 30px 0;
    }
    &__welfareDuoContainerBloc1,
    &__welfareDuoContainerBloc2 {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 24px;
      p {
        width: 100%;
      }
    }
    &__welfareDuoContainerBloc2 {
      margin-bottom: 0;
    }
  }

  &__welfareContainer {
    width: $pageContentWidth;
    display: flex;
    flex-direction: column;

    &__welfareContainerBloc1,
    &__welfareContainerBloc2 {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 24px;
      p {
        width: 100%;
      }
    }
    &__welfareContainerBloc2 {
      margin-bottom: 0;
    }

    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin: 60px 0 30px 0;
    }
  }

  &__activityPictures {
    width: $pageContentWidth;
    margin: $marginBoxTopAndBottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    &__activityPicturesBloc1,
    &__activityPicturesBloc2 {
      display: flex;
      width: 100%;
      gap: 30px;
      justify-content: center;
      align-items: center;
    }
    &__activityPicturesBloc1 {
      :nth-child(1) {
        width: calc(50% - 15px);
        max-width: 400px;
        object-fit: cover;
      }
      :nth-child(2) {
        width: calc(50% - 15px);
        max-width: 400px;
        object-fit: cover;
      }
    }
    &__activityPicturesBloc2 {
      height: 300px;
      :nth-child(2) {
        width: calc(66% - 15px);
        height: 100%;
        object-fit: cover;
      }
      :nth-child(1) {
        width: calc(34% - 15px);
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__comeBackHome {
    width: $pageContentWidth;
  }
}

/////////// RESPONSIVE ////////////

@media screen and (max-width: 1100px) {
  .activityContainer {
    &__preambulContainer,
    &__pilateContainer,
    &__gymSeniorContainer,
    &__gymSoftContainer,
    &__welfareDuoContainer,
    &__welfareContainer,
    &__activityPictures,
    &__comeBackHome {
      width: 90%;
    }
  }
}
@media screen and (min-width: 700px) {
  .activityBanner {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .activityBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $greenPocli;
    opacity: 60%;
    height: 150px;
    gap: 16px;
    h1 {
      width: 90%;
      color: $colorText-3;
      font-size: $textSize;
      text-align: center;
    }
    .icon {
      width: 40px;
    }
  }
  .activityContainer {
    margin: $marginBoxTopAndBottomResponsive;
    &__preambulContainer {
      p:first-of-type {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 16px;
      }
    }
    &__pilateContainer {
      h1 {
        font-size: $textSize;
        margin: 30px 0 15px 0;
      }

      &__pilateContainerBloc1,
      &__pilateContainerBloc2 {
        margin-bottom: 16px;
      }
      &__pilateContainerHour {
        p:first-of-type {
          margin-bottom: 16px;
        }
      }
    }

    &__gymSeniorContainer {
      h1 {
        font-size: $textSize;
        margin: 30px 0 15px 0;
      }
      &__gymSeniorContainerBloc1 {
        margin-bottom: 16px;
      }
      &__gymSeniorHour {
        p:first-of-type {
          margin-bottom: 16px;
        }
      }
    }

    &__gymSoftContainer {
      h1 {
        font-size: $textSize;
        margin: 30px 0 15px 0;
      }
      &__gymSoftContainerBloc1 {
        margin-bottom: 16px;
      }
      &__gymSoftHour {
        p:first-of-type {
          margin-bottom: 16px;
        }
      }
    }
    &__welfareDuoContainer {
      h1 {
        font-size: $textSize;
        margin: 30px 0 15px 0;
      }
      &__welfareDuoContainerBloc1,
      &__welfareDuoContainerBloc2 {
        margin-bottom: 16px;
      }
      &__welfareDuoContainerBloc2 {
        margin-bottom: 0;
      }
    }
    &__welfareContainer {
      &__welfareContainerBloc1,
      &__welfareContainerBloc2 {
        margin-bottom: 16px;
      }
      &__welfareContainerBloc2 {
        margin-bottom: 0;
      }
      h1 {
        font-size: $textSize;
        margin: 30px 0 15px 0;
      }
    }
    &__activityPictures {
      gap: 15px;
      margin: $marginBoxTopAndBottomResponsive;
      &__activityPicturesBloc1,
      &__activityPicturesBloc2 {
        flex-direction: column;
        gap: 15px;
      }
      &__activityPicturesBloc1 {
        :nth-child(1) {
          width: 100%;
          max-width: 400px;
        }
        :nth-child(2) {
          width: 100%;
          max-width: 400px;
        }
      }
      &__activityPicturesBloc2 {
        height: 100%;
        :nth-child(2) {
          width: 100%;
        }
        :nth-child(1) {
          width: 100%;
        }
      }
    }
    .icon {
      height: 30px;
    }
  }
}
