.activityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: $marginBoxTopAndBottom;
  &__preambulContainer {
    width: $pageContentWidth;
    h1 {
      font-size: $textSize;
      font-weight: $fontBold;
      font-style: italic;
      margin: 0 0 2rem;
    }
    p {
      margin: 1.5rem 0;
    }
  }
  &__pilateContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }

    &__pilateContainerBloc1,
    &__pilateContainerBloc2 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      p {
        width: 100%;
      }
    }
  }

  &__gymSeniorContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    &__gymSeniorContainerBloc1 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      p {
        width: 100%;
      }
    }
  }

  &__gymSoftContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    &__gymSoftContainerBloc1 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      p {
        width: 100%;
      }
    }
  }

  &__welfareDuoContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    &__welfareDuoContainerBloc1 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      width: fit-content;
      p {
        width: 100%;
      }
    }
  }

  &__welfareContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &__welfareContainerBloc1,
    &__welfareContainerBloc2 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      p{
        width: 100%;
      }
    }

    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
  }

  &__activityPictures {
    width: $pageContentWidth;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    &__activityPicturesBloc1,
    &__activityPicturesBloc2 {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 45%;
    }
  }

  &__comeBackHome {
    display: flex;
    width: $pageContentWidth;
    justify-content: flex-end;
  }
}

/////////// RESPONSIVE ////////////

@media screen and (max-width: 1100px) {
  .activityContainer {
    &__preambulContainer,
    &__pilateContainer,
    &__gymSeniorContainer,
    &__gymSoftContainer,
    &__welfareDuoContainer,
    &__welfareContainer {
      width: 90%;
    }

    &__activityPictures {
      width: 90%;
      &__activityPicturesBloc1,
      &__activityPicturesBloc2 {
        display: flex;
        flex-direction: column;
      }
      img {
        width: 300px;
      }
    }
    &__comeBackHome {
      width: 90%;
    }
  }
}
@media screen and (min-width: 700px) {
  .activityBanner {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .activityBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $greenPocli;
    opacity: 60%;
    height: 150px;
    color: $colorText-3;
    gap: 8px;

    h1 {
      width: 90%;
      color: #fff;
      font-size: 24px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .icon {
      width: 40px;
    }
  }
}

@media screen and (max-width: 400px) {
  .activityContainer {
    &__preambulContainer {
      width: 90%;
      h1 {
        font-size: $resTitleSize4;
      }
      p {
        font-size: $resTextSize4;
      }
    }
    &__pilateContainer {
      h1 {
        font-size: $resTitleSize4;
      }
      p {
        font-size: $resTextSize4;
      }
      .icon {
        width: 25px;
        height: 20px;
      }
      width: 90%;
      &__pilateContainerBloc1 p,
      &__pilateContainerBloc2 p {
        font-size: $resTextSize4;
      }
    }
    &__gymSeniorContainer {
      h1 {
        font-size: $resTitleSize4;
      }
      p {
        font-size: $resTextSize4;
      }
      .icon {
        width: 25px;
        height: 20px;
      }
      width: 90%;
      &__gymSeniorContainerBloc1 p {
        font-size: $resTextSize4;
      }
    }
    &__gymSoftContainer {
      h1 {
        font-size: $resTitleSize4;
      }
      p {
        font-size: $resTextSize4;
      }
      .icon {
        width: 25px;
        height: 20px;
      }
      width: 90%;
      &__gymSoftContainerBloc1 p {
        font-size: $resTextSize4;
      }
    }
    &__welfareDuoContainer {
      h1 {
        font-size: $resTitleSize4;
      }
      &__welfareDuoContainerBloc1 p {
        font-size: $resTextSize4;
      }
      .icon {
        width: 25px;
        height: 20px;
      }
      width: 90%;
    }
    &__welfareContainer {
      h1 {
        font-size: $resTitleSize4;
      }
      .icon {
        width: 25px;
        height: 20px;
      }
      width: 90%;
      &__welfareContainerBloc1 p,
      &__welfareContainerBloc2 p {
        font-size: $resTextSize4;
      }
    }

    &__activityPictures {
      width: 90%;
      &__activityPicturesBloc1 p,
      &__activityPicturesBloc2 p {
        display: flex;
        flex-direction: column;
      }
      img {
        width: 300px;
      }
    }
  }
}
