.activityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: $marginBoxTopAndBottom;
  &__preambulContainer {
    width: $pageContentWidth;
    h1 {
      font-size: $textSize;
      font-weight: $fontBold;
      font-style: italic;
      margin: 0 0 2rem;
    }
    p {
      margin: 1.5rem 0;
    }
  }
  &__pilateContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }

    &__pilateContainerBloc1,
    &__pilateContainerBloc2 {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &__gymSeniorContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    &__gymSeniorContainerBloc1 {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &__gymSoftContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    &__gymSoftContainerBloc1 {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &__welfareDuoContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    &__welfareDuoContainerBloc1 {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &__welfareContainer {
    margin-top: 4rem;
    width: $pageContentWidth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &__welfareContainerBloc1,
    &__welfareContainerBloc2 {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
  }

  &__activityPictures {
    width: $pageContentWidth;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    &__activityPicturesBloc1,
    &__activityPicturesBloc2 {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 45%;
    }
  }
}
