.adherentSpaceContainer {
  &.modal {
    filter: blur(4px);
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: $marginBoxTopAndBottom;
    &__left {
      display: flex;
      flex-direction: column;
      width: 450px;
      padding-right: 64px;
      a {
        width: fit-content;
        &:last-of-type {
          p {
            margin-bottom: 0;
          }
        }
      }
      p {
        margin-bottom: 1rem;
        width: fit-content;
        cursor: pointer;
        span {
          font-weight: $fontBold;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      h1 {
        margin-bottom: 30px;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-left: 1px solid $colorText-2;
      padding-left: 65px;
      height: 100%;
      width: 450px;
      p {
        margin-left: 140px;
        margin-bottom: 1rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        margin-left: 140px;
        margin-bottom: 1rem;
        font-size: $textSize;
        color: $colorText-2;
        font-weight: $fontRegular;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      a {
        &:nth-child(4) {
          padding-bottom: 3rem;
        }
      }
      h1 {
        margin: 0 0 30px 140px;
      }
    }
  }
}

/////// RESPONSIVE /////////

@media screen and (max-width: 1100px) {
  .adherentSpaceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__box {
      justify-content: space-between;
      width: 90%;
      &__left {
        width: 50%;
        height: 298.5px;
        padding-right: 0;
        border-right: 1px solid $colorText-2;
      }
      &__right {
        border-left: 0;
        padding-left: 0;
        width: fit-content;
        p {
          margin-left: 0;
        }
        span {
          margin-left: 0;
        }
        h1 {
          margin: 0 0 30px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .adherentSpaceContainer {
    &__box {
      flex-direction: column;
      align-items: center;
      gap: 60px;
      &__left {
        width: 320px;
        height: fit-content;
        border-right: 0;
      }
      &__right {
        width: 320px;
      }
    }
  }
}

@media screen and (min-width: 701px) {
  .adherentSpanceBanner {
    display: none;
  }
  .adherentSpaceContainer__box__familyMembers {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .adherentSpanceBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    gap: 16px;
    h1 {
      width: 90%;
      font-size: $categorySize;
      text-align: center;
    }
  }

  .adherentSpaceContainer {
    &__box {
      margin: 0 0 30px 0;
      gap: 30px;
      h1 {
        font-size: $textSize;
        margin-bottom: 24px;
      }
      &__left,
      &__right {
        width: 215px;
        background-color: $backGround-2;
        padding: 10px;
        border-radius: 10px;
      }
      &__right {
        span {
          font-size: $smallTextSize;
        }
        a {
          &:nth-child(4) {
            padding-bottom: 16px;
          }
        }
      }
    }
  }
}
