.animationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $marginBoxTopAndBottom;
  width: 100%;
  > p {
    width: $pageContentWidth;
    font-weight: $fontBold;
    font-style: italic;
    margin-bottom: 30px;
  }
  &__list {
    margin-bottom: 24px;
    width: $pageContentWidth;
    display: flex;
    align-items: center;
    gap: 16px;
    &:nth-child(5) {
      margin-bottom: 0;
    }
    p {
      width: 100%;
    }
  }
  &__pictures {
    width: $pageContentWidth;
    margin: $marginBoxTopAndBottom;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    :nth-child(1),
    :nth-child(2),
    :nth-child(3) {
      width: calc(100% / 3 - 20px);
      object-fit: cover;
    }
  }
  &__comeBackHome {
    width: $pageContentWidth;
  }
}
//////// RESPONSIVE ///////////

@media screen and (max-width: 1100px) {
  .animationContainer {
    > p,
    &__list,
    &__pictures,
    &__comeBackHome {
      width: 90%;
    }
  }
}

@media screen and (min-width: 700px) {
  .animationBanner {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .animationBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $yellowPocli;
    opacity: 60%;
    height: 150px;
    gap: 16px;
    h1 {
      width: 90%;
      color: $colorText-3;
      font-size: $textSize;
      text-align: center;
    }
    .icon {
      width: 40px;
    }
  }
  .animationContainer {
    margin: $marginBoxTopAndBottomResponsive;
    > p {
      margin-bottom: 15px;
    }
    &__list {
      margin-bottom: 16px;
    }
    &__pictures {
      margin: $marginBoxTopAndBottomResponsive;
      flex-direction: column;
      gap: 15px;
      :nth-child(1),
      :nth-child(2),
      :nth-child(3) {
        width: 100%;
        max-width: 400px;
      }
    }
    .icon {
      height: 30px;
    }
  }
}
