.banner {
  margin-top: 150px;
  width: 100%;
  height: 400px;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/banner-multicolor.png');
  background-size: cover;
  h1 {
    margin-top: 30px;
    text-align: center;
  }
  .box {
    width: $pageContentWidth;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > .icon {
      width: 100px;
      fill: $colorText-2;
    }
    &__about {
      font-size: $titleSize;
      font-weight: $fontExtraBold;
      color: $colorText-2;
      &__blue-pocli-text {
        color: $bluePocli;
      }
      &__green-pocli-text {
        color: $greenPocli;
      }
      &__red-pocli-text {
        color: $redPocli;
      }
    }
    &__event {
      width: 100%;
      height: 85%;
      cursor: pointer;
      -webkit-animation: slide-in-blurred-left 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
      animation: slide-in-blurred-left 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;

      span {
        font-size: 16px;
      }
      p {
        font-size: $titleSize;
      }
      .eventCard__preview {
        flex-direction: row-reverse;
      }
      .icon {
        width: 24px;
        fill: $colorText-3;
      }
    }
    &__members {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $colorText-3;
    }
  }

  // THE STYLE ADAPTS TO THE ACTIVITY
  &.activity {
    background-image: url('/assets/banner-grey.png');
    ::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      opacity: 0.4;
    }
    h1 {
      color: $colorText-3;
    }
    .box {
      .icon {
        fill: $colorText-3;
      }
    }

    // ACTIVITY FAMILY
    &.family {
      ::before {
        background-color: $bluePocli;
      }
    }
    // ACTIVITY SPORT
    &.physical {
      ::before {
        background-color: $greenPocli;
      }
    }
    // ACTIVITY SOCIAL
    &.social {
      ::before {
        background-color: $redPocli;
      }
    }
    // ACTIVITY ANIMATION
    &.animation {
      ::before {
        background-color: $yellowPocli;
      }
    }
  }
  //   END ACTIVITIES////////////////
}
///////// RESPONSIVE ///////////

@media screen and (max-width: 1100px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    h1 {
      font-size: 30px;
    }
    .box {
      width: 90%;
      &__about {
        font-size: 30px;
      }
      &__event {
        width: 90%;
      }
    }
    .eventCard {
      // width: 90%;
      &__preview {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        &__image {
          width: 300px;
          height: 250px;
          max-height: max-content;
          object-fit: cover;
          border-radius: 20px;
        }
        &__informations {
          width: 55%;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 35px;
          &__date-and-category {
            width: 100%;
            display: flex;
            align-items: center;
            // justify-content: center;
            gap: 10px;
            font-size: 14px;
            color: #3d79af;
          }
          p {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .banner {
    display: none;
    h1 {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 700px) {
  .banner {
    .box {
      overflow-y: scroll;
    }
    h1 {
      color: $colorText-2;
      font-size: 24px;
      width: 300px;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
