.comeBackHome {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-decoration: none;
  h1 {
    font-size: $textSize;
    text-align: end;
    &:hover {
      text-decoration: underline;
    }
  }
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    clip-path: circle(50%);
    background-color: $arrow;
  }
}

////// RESPONSIVE comeBackHome //////

@media all and (max-width: 700px) {
  .comeBackHome {
    justify-content: center;
    h1 {
      font-size: $smallTextSize;
      max-width: fit-content;
      width: calc(100% - 16px - 30px);
    }
    &__arrow {
      width: 30px;
      height: 30px;
      .icon {
        width: 15px;
      }
    }
  }
}
