.documentsMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  &__unreadDocuments,
  &__allDocuments,
  &__trash {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    .icon {
      padding: 0 0.5rem;
    }
    span {
      font-weight: $fontBold;
    }
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $colorText-2;
    }
  }
  &__unreadDocumentsDevelopped,
  &__allDocumentsDevelopped,
  &__trashDevelopped {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    &__title {
      width: 480px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 0;
      background-color: $backGround-1;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      .icon {
        padding: 0 0.5rem;
      }
      p {
        color: white;
      }
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: white;
      }
    }
    &__documents {
      width: 480px;
      height: 400px;
      background-color: $backGround-2;
    }
  }
}
