.eventsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.modal {
    filter: blur(4px);
  }
  &__filter {
    width: $pageContentWidth;
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    #eventsFilter {
      border: none;
      border-radius: 5px;
      background-color: $backGround-2;
    }
  }
  &__filter,
  #eventsFilter {
    font-family: $fontFamily;
    font-size: $textSize;
    color: $colorText-2;
  }
  &__events {
    width: $pageContentWidth;
    margin: $marginBoxTopAndBottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      &__card {
        width: 430px;
        height: 150px;
        cursor: pointer;
      }
    }
  }
  &__comeBackHome{
    width: $pageContentWidth;
    margin: $marginBoxTopAndBottom;
    display: flex;
    justify-content: flex-end;
  }
}
