.familyMembers {
  width: $pageContentWidth;
  display: flex;
  justify-content: space-between;
  // z-index: 123456;
  &__card {
    display: flex;
    flex-direction: column;
    img {
      width: 150px;
      height: 130px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    &__name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $backGround-2;
      height: 80px;
      border-radius: 0 0 20px 20px;
      gap: 10px;
      &__square {
        display: flex;
        justify-content: center;
      }
    }
    p {
      font-size: $smallTextSize;
      font-weight: $fontBold;
      text-align: center;
    }
  }
}
