.familyMembers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
  &__card {
    display: flex;
    flex-direction: column;
    img {
      width: 150px;
      height: 130px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    &__name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100px;
      background-color: $backGround-1;
      border-radius: 0 0 20px 20px;
      &__square {
        height: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
    }
    p {
      height: 50%;
      display: flex;
      align-items: center;
      color: $colorText-3;
      font-size: $mediumTextSize;
      font-weight: $fontBold;
      text-align: center;
      padding-top: 10px;
    }
  }
}
