.familyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $marginBoxTopAndBottom;
  width: 100%;
  &__header {
    width: $pageContentWidth;
    p:first-of-type {
      font-weight: $fontBold;
      font-style: italic;
      margin-bottom: 30px;
    }
  }
  &__workshop {
    margin-top: 60px;
    width: $pageContentWidth;
    h1 {
      font-size: $categorySize;
      margin-bottom: 30px;
    }
    &__description {
      &__firstPoint,
      &__secondPoint {
        gap: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        &__text {
          width: 100%;
        }
      }
    }
    &__hourly {
      margin: 30px 0 60px;
      &__hollydaysOff,
      &__hollydaysOn {
        p:first-of-type {
          margin-bottom: 24px;
        }
      }
    }
    &__pictures {
      display: flex;
      gap: 30px;
      :nth-child(1) {
        width: calc(66% - 15px);
        object-fit: cover;
      }
      :nth-child(2) {
        width: calc(34% - 15px);
        object-fit: cover;
      }
    }
  }
  &__parentsThemes {
    margin-top: 60px;
    width: $pageContentWidth;
    h1 {
      font-size: $categorySize;
      margin-bottom: 30px;
    }
    p {
      margin: 24px 0;
    }
    ul {
      list-style: none;
      li {
        font-family: $fontFamily;
        font-size: $textSize;
        color: $colorText-2;
        font-weight: $fontRegular;
        &:nth-child(4) {
          margin: 24px 0;
        }
      }
    }
    &__pictures {
      margin: $marginBoxTopAndBottom;
      display: flex;
      gap: 30px;
      :nth-child(1) {
        width: calc(100% / 3 - 20px);
        object-fit: cover;
      }
      :nth-child(2) {
        width: calc(100% / 3 - 20px);
        object-fit: cover;
      }
      :nth-child(3) {
        width: calc(100% / 3 - 20px);
        object-fit: cover;
      }
    }
  }
  &__comeBackHome {
    width: $pageContentWidth;
  }
}

/////// RESPONSIVE  ///////

@media screen and (max-width: 1100px) {
  .familyContainer {
    &__header,
    &__workshop,
    &__parentsThemes,
    &__comeBackHome {
      width: 90%;
    }
  }
}

@media screen and (min-width: 700px) {
  .familyBanner {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .familyBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bluePocli;
    opacity: 60%;
    height: 150px;
    gap: 16px;
    h1 {
      width: 90%;
      color: $colorText-3;
      font-size: $textSize;
      text-align: center;
    }
    .icon {
      width: 40px;
    }
  }
  .familyContainer {
    margin: 30px 0;
    &__header {
      p:first-of-type {
        margin-bottom: 15px;
      }
    }
    &__workshop {
      margin-top: 30px;
      h1 {
        font-size: $textSize;
        margin-bottom: 15px;
      }
      &__description {
        &__firstPoint,
        &__secondPoint {
          gap: 16px;
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          .icon {
            height: 30px;
          }
          &__text {
            width: 100%;
          }
        }
      }
      &__hourly {
        margin: 15px 0 30px;
        &__hollydaysOff,
        &__hollydaysOn {
          p:first-of-type {
            margin-bottom: 16px;
          }
        }
      }
      &__pictures {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        :nth-child(1) {
          width: 100%;
        }
        :nth-child(2) {
          width: 100%;
        }
      }
    }
    &__parentsThemes {
      margin-top: 30px;
      h1 {
        font-size: $textSize;
        margin-bottom: 15px;
      }
      p {
        margin: 16px 0;
      }
      ul {
        list-style: none;
        li {
          font-size: $smallTextSize;
          &:nth-child(4) {
            margin: 16px 0;
          }
        }
      }
      &__pictures {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        :nth-child(1) {
          width: 100%;
          max-width: 400px;
        }
        :nth-child(2) {
          width: 100%;
          max-width: 400px;
        }
        :nth-child(3) {
          width: 100%;
          max-width: 400px;
        }
      }
    }
  }
}
