.footerContainer {
  justify-content: center;
  background-color: #8bafcf;
  color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__footerLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1028px;
    margin: 6% 0 6% 0;
    &__footerLinksTop h4 {
      padding-bottom: 1rem;
    }

    &__footerLinksTop__a {
      text-decoration: none;

      &__li {
        color: white;
        font-family: $typoNav;
        font-weight: 400;
        font-size: 16px;
        list-style: none;
        padding-bottom: 0.5rem;
      }
    }

    &__footerLinksBottom {
      margin-bottom: 16px;
    }

    &__footerLinksBottom h4 {
      padding-bottom: 1rem;
    }

    &__footerLinksBottom__a {
      text-decoration: none;

      &__li {
        color: white;
        font-family: $typoNav;
        font-weight: 400;
        font-size: 16px;
        list-style: none;
        padding-bottom: 0.5rem;
      }
    }
  }

  &__footerLinks__logo {
    margin-bottom: 5.5rem;

    & h4 {
      margin-bottom: 1rem;
    }
  }

  &__mention {
    width: 1028px;
    margin-bottom: 5%;
    &__h6 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid;
      padding-top: 2%;
      width: 1028px;
      p {
        color: white;
        font-size: 12px;
      }

      &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        width: 28%;

        li {
          list-style: none;
          color: $colorText-3;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .footerContainer {
    justify-content: center;
    background-color: #8bafcf;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__footerLinks {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin: 6% 0 6% 16%;
      &__footerLinksTop {
        margin-bottom: 4%;
      }
      &__footerLinksTop h4 {
        padding-bottom: 1rem;
        font-size: 35px;
      }
      &__footerLinksTop__a {
        text-decoration: none;

        &__li {
          color: white;
          font-family: $typoNav;
          font-weight: 400;
          font-size: 30px;
          list-style: none;
          padding-bottom: 0.5rem;
        }
      }
      &__footerLinksBottom {
        margin-bottom: 4%;
        h4 {
          padding-bottom: 1rem;
          font-size: 35px;
        }
      }
      &__footerLinksBottom__a {
        text-decoration: none;
        &__li {
          color: white;
          font-family: $typoNav;
          font-weight: 400;
          font-size: 30px;
          list-style: none;
          padding-bottom: 0.5rem;
        }
      }
      &__logo {
        h4 {
          font-size: 35px;
        }
      }
    }
    &__mention {
      margin-bottom: 5%;
      width: 80%;
      text-align: center;
      &__h6 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid;
        padding-top: 2%;

        h6 {
          font-size: 35px;
          margin-bottom: 2%;
        }
        p {
          font-size: 20px;
        }
        &__list {
          width: 100%;
          margin-top: 2%;
          display: flex;
          justify-content: space-around;
          flex-direction: row;
          align-items: center;
          font-size: 25px;
          li {
            text-decoration: underline white;
          }
        }
      }
    }
  }
}
