.footerContainer {
  width: 100%;
  height: 500px;
  background-color: $backGround-1;
  color: $colorText-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a,
  li {
    text-decoration: none;
    list-style: none;
    font-family: $fontFamily;
    color: $colorText-3;
    :hover {
      text-decoration: underline;
    }
  }
  &__footerNav {
    height: calc(400% / 5);
    width: $pageContentWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $colorText-3;
    &__box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      li{
        margin: 12px 0;
        font-size: $textSize;
      }
      span {
        font-weight: $fontExtraBold;
        font-size: $textSize;
      }
      a:first-of-type{
        li{
          margin-top: 30px;
        }
      }
      a:last-of-type{
        li{
          margin-bottom: 0;
        }
      }
      &__social {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 30px;
      }
    }
  }

  &__legalInformations {
    height: calc(100% / 5);
    width: $pageContentWidth;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    &__box{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__pocli{
        display: flex;
        gap: 30px;
        span{
          font-weight: $fontExtraBold;
        }
      }
      &__privacy{
        display: flex;
        gap: 30px;
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .footerContainer {
    width: 100%;
    height: 400px;
    &__footerNav {
      width: 90%;
      &__box {
        li{
          font-size: $smallTextSize;
        }
        span {
          font-size: $smallTextSize;
        }
      }
    }
    &__legalInformations {
      width: 90%;
      &__box{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .footerContainer {
    height: 100%;
    &__footerNav {
      &__box {
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;
        padding: 30px 0;
        a:first-of-type{
          li{
            margin-top: 15px;
          }
        }
        &__social {
          gap: 15px;
        }
      }
    }
  
    &__legalInformations {
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      gap: 8px;
      &__box{
        gap: 8px;
        &__pocli{
          display: flex;
          gap: 30px;
          span{
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .footerContainer {
    &__legalInformations {
      &__box{
        &__privacy{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
}
