.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &.modal {
    filter: blur(4px);
  }
  &__events {
    width: $pageContentWidth;
    margin: $marginBoxTopAndBottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      &__card {
        width: 480px;
        height: 150px;
        cursor: pointer;
        -webkit-animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
        animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
      }
    }
    &__list-responsive{
      display: none;
    }
  }
  &__nonAdherent {
    margin: $marginBoxTopAndBottom;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $backGround-2;
    &__box {
      width: $pageContentWidth;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__text {
        width: 48%;
        h1 {
          margin-bottom: 38px;
        }
        p {
          margin-bottom: 24px;
          &:last-of-type{
            margin-bottom: 60px;
          }
        }
      }
      &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 49px;
        clip-path: circle(50%);
        background-color: $arrow;
      }
      &__button {
        white-space: nowrap;
      }
    }
  }
  &__about {
    width: $pageContentWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $marginBoxTopAndBottom;
    &__numbers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 60px;
      &__box,
      p {
        font-family: $fontFamily;
        font-weight: $fontExtraBold;
        text-align: center;
        width: 150px;
        &__digit {
          color: $colorText-1;
          font-size: calc($titleSize * 2);
        }
      }
    }
    &__text {
      h1 {
        margin-bottom: 38px;
      }
      p {
        margin-bottom: 24px;
        &:last-of-type{
          margin-bottom: 60px;
        }
      }
    }
  }
  &__activities {
    width: $pageContentWidth;
    margin: $marginBoxTopAndBottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-bottom: 120px;
    }
    &__box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 128px;
      &__card {
        width: 450px;
        height: 450px;
        overflow: hidden;
        border-radius: 40px;
        .activityCard,
        .activityCard div {
          transition: all 400ms ease-out;
          -webkit-transition: all 400ms ease-out;
          &:hover,
          &:hover div {
            transition: all 400ms ease-in-out;
            -webkit-transition: all 400ms ease-in-out;
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            div {
              transform: scale(0.92);
              -webkit-transform: scale(0.92);
            }
          }
        }
      }
    }
  }
  &__newsletter {
    width: 100%;
    height: 400px;
    margin: $marginBoxTopAndBottom;
    background-image: url('/assets/banner-blue.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__box {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      width: $pageContentWidth;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      img{
        width: 150px;
      }
      >span{
        font-family: $fontFamily;
        font-size: $categorySize;
        font-weight: $fontExtraBold;
        color: $colorText-2;
        text-align: center;
      }
      >p{
          font-weight: $fontExtraBold;
          font-size: $smallTextSize;
          text-align: center;
          background-color: $backGround-1;
          padding: 10px;
          color: $colorText-3;
          border-radius: 10px;
      }
      &__form__email{
        p {
          font-weight: $fontExtraBold;
          color: #d32f2f
        }
      }
      &__form {
        form{
          display: flex;
          width: 100%;
          align-items: flex-start;
          justify-content: center;
          gap: 30px;
          button{
            position: relative;
            top: 6px
          }
        }
        &__email{
          display: flex;
          flex-direction: column;
          gap: 5px;
          height: 90px;
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 50px white inset !important;
            box-shadow: 0 0 0 50px white inset !important;
            -webkit-text-fill-color: $colorText-2 !important;
          }
        }
      }
      button {
        white-space: nowrap;
        border: 0px;
      }
    }
  }
  &__partners {
    margin: $marginBoxTopAndBottom;
    width: $pageContentWidth;
  }
}

@media screen and (max-width: 1100px) {
  .homeContainer {
    &__partners {
      width: 90%;
    }
    &__events {
      width: 90%;
      margin: 60px 0;
      display: flex;
      &__list {
        justify-content: center;
      }
    }
    &__nonAdherent {
      height: 100%;
      align-items: center;
      margin: $marginBoxTopAndBottom;
      padding: 60px 0;
      background-color: #e8f2fe;

      &__box {
        justify-content: space-around;
        flex-direction: column;
        &__text {
          width: 90%;
        }
        &__arrow {
          display: none;
        }
      }
    }
    &__about {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 60px 0;
      width: 90%;
      text-align: center;
      &__numbers {
        margin-right: 0;
        margin-bottom: 60px;
      }
      &__text {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 75%;
        p {
          text-align: center;
        }
      }
    }
    &__activities {
      width: 100%;
      &__box {
        gap: 40px;
        &__card {
          width: 275px;
          height: 275px;
          overflow: hidden;
        }
      }
    }
    &__newsletter{
      &__box{
        width: 90%;
        >span{
          font-size: $mediumTextSize;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .homeContainer {
    &__events {
      width: 100%;
      margin: $marginBoxTopAndBottomResponsive;
      gap: 30px;
      &__list {
        display: none;
      }
      &__list-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        h1{
          text-align: center;
          width: 90%;
        }
        &__card {
          width: 390px;
          height: 132px;
          cursor: pointer;
          -webkit-animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
        }
      }
    }
    &__nonAdherent {
      margin: $marginBoxTopAndBottomResponsive;
      padding: 30px 0;
      &__box{
        &__text{
          p:last-of-type{
            margin-bottom: 30px;
          }
        }
      }
    }
    &__about{
      margin: $marginBoxTopAndBottomResponsive;
      &__numbers{
        margin-bottom: 30px;
      }
    }
    &__activities {
      width: 100%;
      margin: $marginBoxTopAndBottomResponsive;
      h1{
        margin-bottom: 30px;
        width: 90%;
        text-align: center;
      }
      &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
      }
    }
    &__about {
      &__numbers {
        grid-column-gap: 50px;
        grid-row-gap: 35px;
        &__box{
          &__digit{
            font-size: $categorySize;
          }
          p{
            font-size: $mediumTextSize;
            font-weight: $fontBold;
          }
        }
      }
      &__text {
        h1 {
          font-size: 30px;
          margin-bottom: 30px;
        }
        p:last-of-type{
          margin-bottom: 30px;
        }
      }
    }
    &__newsletter{
      margin: $marginBoxTopAndBottomResponsive;
      &__box{
        gap: 20px;
        >span{
          font-size: $smallTextSize;
        }
        &__form{
          form{
            flex-direction: column;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
    &__partners{
      margin: $marginBoxTopAndBottomResponsive;
      h1{
        text-align: center;
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .homeContainer {
    &__events {
      &__list-responsive {
        &__card {
          width: 260px;
          height: 100px;
        }
      }
    }
    &__about {
      &__numbers {
        gap: 10px;
      }
    }
    &__activities {
      &__box {
        &__card {
          width: 195px;
          height: 195px;
        }
      }
    }
  }
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
