.app {
  width: 100vw;
  p {
    font-family: $fontFamily;
    font-size: $textSize;
    color: $colorText-2;
    font-weight: $fontRegular;
  }
  h1 {
    font-family: $fontFamily;
    font-size: $titleSize;
    color: $colorText-2;
    font-weight: $fontExtraBold;
  }
  span {
    font-family: $fontFamily;
  }
  a {
    text-decoration: none;
    list-style: none;
  }
}

@media screen and (max-width: 700px) {
  .app{
    p{
      font-size: $smallTextSize;
    }
    h1{
      font-size: $categorySize;
    }
  }
}