.app {
  p {
    font-family: $fontFamily;
    font-size: $textSize;
    color: $colorText-2;
    font-weight: $fontRegular;
  }
  h1 {
    font-family: $fontFamily;
    font-size: $titleSize;
    color: $colorText-2;
    font-weight: $fontExtraBold;
  }
  span {
    font-family: $fontFamily;
    color: $colorText-2;
  }
  a {
    text-decoration: none;
    list-style: none;
  }
}
