.loginCardContainer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-family: $fontFamily;
  background-color: $backGround-1;
  border-radius: 1rem;
  h1 {
    font-size: $titleSize;
    padding: 2rem;
    color: white;
  }
  &__email,
  &__password {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 50px #8bafcf inset !important;
        box-shadow: 0 0 0 50px #8bafcf inset !important;
        -webkit-text-fill-color: white !important;
    }
    p{
      margin-top: 5px;
      font-size: 14px;
      font-weight: $fontExtraBold;
      align-self: flex-start;
      color: #d32f2f;
    }
  }
  &__stayConnected {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    margin-top: 5px;
    gap: 5px;
    &__title {
      color: white;
      font-size: 14px;
      font-weight: $fontBold;
    }
  }
  a{
      color: #d32f2f;
    }
  
  // p {
  //   color: white;
  //   font-size: 0.75rem;
  //   margin-bottom: 0.5rem;
  // }
  &__submit {
    margin: 1rem 0 1rem 15rem;
    background-color: $colorText-2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    clip-path: circle(50%);
    padding: 0.5rem;
    border-radius: 100%;
    border: 0px solid $colorText-2;
    transition: all 200ms ease-out;
    &:hover {
      cursor: pointer;
      background-color: $colorText-3;
      transition: all 200ms ease-out;
      .icon{
        fill: $colorText-2;
      }
    }
  }
  &__message {
    color: red;
  }
}
