.messagingCardContainer {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-family: $fontFamily;
  background-color: $backGround-2;
  border-radius: 1rem;
  padding: 2rem 0;
  width: 100%;
  height: 550px;
  -webkit-user-select: none;
  user-select: none;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
      p {
        font-size: $mediumTextSize;
        font-weight: $fontBold;
        span {
          font-weight: 400;
        }
      }
    }
    &__right {
      display: flex;
      justify-content: space-between;
      width: 30%;
      .icon {
        cursor: pointer;
      }
    }
  }
  &__object {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 2.5rem 0;
    p {
      font-size: $mediumTextSize;
      font-weight: $fontBold;
      span {
        font-weight: 400;
      }
    }
  }
  &__message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin-right: 2rem;
    color: #3d79af;
    p {
      font-size: $mediumTextSize;
      font-weight: $fontBold;
      padding: 1rem 1rem;
    }
    &__content {
      overflow-y: auto;
      height: 300px;
      width: 100%;
      border-radius: 0.5rem;
      border: 1px solid #3d79af;
      background-color: $colorText-3;
      padding: 1rem;
      font-size: $mediumTextSize;
      text-align: left;
    }
  }
}

/////// RESPONSIVE ////////

@media screen and (max-width: 400px) {
  .messagingCardContainer {
    // width: 90%;
    &__header {
      &__left {
        p {
          font-size: 16px;
        }
      }
    }
    &__object {
      p {
        font-size: 16px;
      }
    }
    &__message {
      p {
        font-size: 16px;
      }
    }
  }
}
