.messagingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $marginBoxTopAndBottom;
  width: 100%;
  height: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    width: $pageContentWidth;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: $pageContentWidth;
    height: 600px;
    &__right {
      border-left: 1px solid $colorText-2;
      padding-left: 1rem;
      width: calc($pageContentWidth/2);
    }
  }
}

////// RESPONSIVE ////////

@media screen and (max-width: 800px) {
  .messagingContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {
      display: flex;
      flex-direction: column-reverse;
      gap: 15px;
      width: 90%;

      &__left {
        width: 100%;
        margin-top: 32px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      width: 90%;
      &__right {
        border: 0;
        width: 100%;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .messagingContainer {
    &__content {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 100%;

      &__right {
        border: 0;
      }
    }
  }
}
