.navBarMobile {
  @media screen and (min-width: 700px) {
    display: none;
  }
  width: 100%;
  top: 0;

  &__banner {
    box-shadow: 0px 28px 20px 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
    &__img {
      padding-top: 20px;
    }
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 0 40px;
    background-image: url('/assets/banner-multicolor-navBar.png');
    background-size: cover;

    &__button {
      height: 25px;
      width: 25px;
      margin-top: 20px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__linksBottom {
      text-align: center;

      &__a {
        &__li {
          padding: 20px;
          color: #3d79af;
          font-family: $fontFamily;
          font-weight: 700;
          border-radius: 0.75rem;
          font-size: 20px;
          max-height: 40px;
          gap: 20px;
        }
      }
    }
    &__linksTop {
      &__a {
        text-decoration: none;
        color: $colorText-1;
        font-weight: $fontBold;
        font-family: $fontFamily;

        &__li {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          gap: 15px;
          max-height: 40px;
          font-size: 20px;
        }
        &__liFamily {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          gap: 15px;
          border: 1px solid $colorText-1;
          border-radius: 0.75rem;
          max-height: 40px;
          font-size: 20px;
        }
      }
    }
  }
}
