.navBarMobile {
  width: 100%;
  position: sticky;
  z-index: 999;
  top: 0;

  &__banner {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    &__img {
      img {
        width: 90px;
        object-fit: cover;
      }
    }
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 0 40px;
    background-image: url('/assets/banner-multicolor-navBar.png');
    background-size: cover;
  }

  &__links {
    position: relative;
    z-index: -2;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colorText-3;

    &__linksBottom {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &__a {
        &__li {
          padding: 20px;
          color: #3d79af;
          font-family: $fontFamily;
          font-weight: 700;
          border-radius: 0.75rem;
          font-size: 20px;
          max-height: 40px;
          gap: 20px;
        }
      }
    }
    &__linksTop {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &__a {
        text-decoration: none;
        color: $colorText-1;
        font-weight: $fontBold;
        font-family: $fontFamily;

        &__li {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          gap: 15px;
          max-height: 40px;
          font-size: 20px;
        }
        &__liFamily {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          gap: 15px;
          border: 1px solid $colorText-1;
          border-radius: 0.75rem;
          max-height: 40px;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1001px) {
  .navBarMobile {
    display: none;
  }
}

@media screen and (max-width: 1000px){
  .navBarMobile {
    &__links {
      &__linksBottom {
        &__a {
          &__li {
            padding: 10px;
            border-radius: 0.75rem;
            font-size: $categorySize;
          }
        }
      }
      &__linksTop {
        &__a {
          &__li {
            padding: 10px;
            font-size: $categorySize;
          }
          &__liFamily {
            padding: 10px;
            font-size: $categorySize;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px){
  .navBarMobile {
    &__links {
      &__linksBottom {
        &__a {
          &__li {
            font-size: $mediumTextSize;
          }
        }
      }
      &__linksTop {
        &__a {
          &__li {
            font-size: $mediumTextSize;
          }
          &__liFamily {
            font-size: $mediumTextSize;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .navBarMobile {
    &__links {
      &__linksBottom {
        &__a {
          &__li {
            font-size: $smallTextSize;
          }
        }
      }
      &__linksTop {
        &__a {
          &__li {
            font-size: $smallTextSize;
          }
          &__liFamily {
            font-size: $smallTextSize;
          }
        }
      }
    }
  }
}
