.preventionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $marginBoxTopAndBottom;
  width: 100%;
  &__header {
    width: $pageContentWidth;
    p:first-of-type {
      font-weight: $fontBold;
      font-style: italic;
      margin-bottom: 30px;
    }
  }
  &__visit {
    margin-top: 60px;
    width: $pageContentWidth;
    h1 {
      font-size: $categorySize;
      margin-bottom: 30px;
    }
    > p {
      margin-bottom: 24px;
    }
    &__description {
      &__firstPoint,
      &__secondPoint {
        width: 100%;
        gap: 16px;
        display: flex;
        align-items: center;
      }
      &__firstPoint {
        margin-bottom: 24px;
      }
      p {
        width: 100%;
      }
    }
  }
  &__meeting {
    margin-top: 60px;
    width: $pageContentWidth;
    h1 {
      font-size: $categorySize;
      margin-bottom: 30px;
    }
    > p {
      margin-bottom: 24px;
    }
    &__description {
      &__firstPoint,
      &__secondPoint {
        width: 100%;
        gap: 16px;
        display: flex;
        align-items: center;
      }
      &__firstPoint {
        margin-bottom: 24px;
      }
      p {
        width: 100%;
      }
    }
  }
  &__pictures {
    margin: $marginBoxTopAndBottom;
    display: flex;
    gap: 30px;
    :nth-child(1) {
      width: calc(34% - 15px);
      object-fit: cover;
    }
    :nth-child(2) {
      width: calc(66% - 15px);
      object-fit: cover;
    }
  }
  &__comeBackHome {
    width: $pageContentWidth;
  }
}

////////: RESPONSIVE /////////////

@media screen and (max-width: 1100px) {
  .preventionContainer {
    &__header,
    &__visit,
    &__meeting,
    &__pictures,
    &__comeBackHome {
      width: 90%;
    }
  }
}

@media screen and (min-width: 700px) {
  .preventionBanner {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .preventionBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $redPocli;
    opacity: 60%;
    height: 150px;
    gap: 16px;

    h1 {
      width: 90%;
      color: $colorText-3;
      font-size: $textSize;
      text-align: center;
    }
    .icon {
      width: 40px;
    }
  }
  .preventionContainer {
    margin: $marginBoxTopAndBottomResponsive;
    &__header {
      p:first-of-type {
        margin-bottom: 15px;
      }
    }
    &__visit {
      margin-top: 30px;
      h1 {
        font-size: $textSize;
        margin-bottom: 15px;
      }
      > p {
        margin-bottom: 16px;
      }
      &__description {
        &__firstPoint {
          margin-bottom: 16px;
        }
      }
    }
    &__meeting {
      margin-top: 30px;
      h1 {
        font-size: $textSize;
        margin-bottom: 15px;
      }
      > p {
        margin-bottom: 16px;
      }
      &__description {
        &__firstPoint {
          margin-bottom: 16px;
        }
      }
    }
    &__pictures {
      flex-direction: column;
      margin: $marginBoxTopAndBottomResponsive;
      gap: 15px;
      :nth-child(1) {
        width: 100%;
      }
      :nth-child(2) {
        width: 100%;
      }
    }
    .icon {
      height: 30px;
    }
  }
}
