.preventionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $marginBoxTopAndBottom;
  width: 100%;
  &__header {
    width: $pageContentWidth;
    h1 {
      font-size: $textSize;
      font-weight: $fontBold;
      font-style: italic;
      margin: 0 0 2rem;
    }
  }
  &__visit {
    margin-top: 4rem;
    width: $pageContentWidth;
    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    p {
      margin: 0 0 1.5rem 0;
    }
    &__description {
      &__firstPoint,
      &__secondPoint {
        gap: 1rem;
        display: flex;
        align-content: center;
        flex-direction: row;
        margin-bottom: 1.5rem;
      }
    }
  }
  &__meeting {
    margin-top: 4rem;
    width: $pageContentWidth;
    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    p {
      margin: 0 0 1.5rem 0;
    }
    &__description {
      &__firstPoint,
      &__secondPoint {
        gap: 1rem;
        display: flex;
        align-content: center;
        flex-direction: row;
        margin-bottom: 1.5rem;
      }
    }
  }
  &__pictures {
    width: $pageContentWidth;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
  }
  &__comeBackHome {
    display: flex;
    width: $pageContentWidth;
    justify-content: flex-end;
  }
}
