.preventionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $marginBoxTopAndBottom;
  width: 100%;
  &__header {
    width: $pageContentWidth;
    h1 {
      font-size: $textSize;
      font-weight: $fontBold;
      font-style: italic;
      margin: 0 0 2rem;
    }
  }
  &__visit {
    margin-top: 4rem;
    width: $pageContentWidth;
    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    p {
      margin: 0 0 1.5rem 0;
    }
    &__description {
      &__firstPoint,
      &__secondPoint {
        gap: 1rem;
        display: flex;
        align-content: center;
        flex-direction: row;
        margin-bottom: 1.5rem;
      }
      p {
        width: fit-content;
      }
    }
  }
  &__meeting {
    margin-top: 4rem;
    width: $pageContentWidth;
    h1 {
      font-size: $categorySize;
      font-weight: $fontExtraBold;
      margin-bottom: 2rem;
    }
    p {
      margin: 0 0 1.5rem 0;
      width: fit-content;
    }
    &__description {
      &__firstPoint,
      &__secondPoint {
        gap: 1rem;
        display: flex;
        align-content: center;
        flex-direction: row;
        margin-bottom: 1.5rem;
      }
    }
  }
  &__pictures {
    width: $pageContentWidth;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
  }
  &__comeBackHome {
    display: flex;
    width: $pageContentWidth;
    justify-content: flex-end;
  }
}

////////: RESPONSIVE /////////////

@media screen and (max-width: 1100px) {
  .preventionContainer {
    &__header,
    &__visit,
    &__meeting {
      width: 90%;
    }
    &__comeBackHome {
      width: 90%;
    }
    &__pictures {
      width: 90%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      img {
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .preventionBanner {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .preventionBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #af3d3d;
    opacity: 60%;
    height: 150px;
    color: $colorText-3;
    gap: 8px;

    h1 {
      color: #fff;
      font-size: 24px;
      width: 300px;
      display: flex;
      text-align: center;
    }
    .icon {
      width: 40px;
    }
  }
}

@media screen and (max-width: 400px) {
  .preventionContainer {
    &__header,
    &__visit,
    &__meeting {
      margin-top: 2rem;
      h1 {
        font-size: $resTitleSize4;
      }
      p {
        font-size: $resTextSize4;
      }
      .icon {
        width: 25px;
        height: 20px;
      }
    }
  }
}
