$primay: black;
$bg-primay: white;
$link: #2a0b0b;
$typoNav: 'Karla';

// TYPO

$fontFamily: 'Karla', sans-serif;
$fontRegular: 400;
$fontBold: 700;
$fontExtraBold: 800;
$textSize: 24px;
$titleSize: 38px;

// COLORS

$colorText-1: #AF3D3D;
$colorText-2: #3D79AF;
$colorText-3: white;
$backGround-1: #8BAFCF;
$backGround-2: #E8F2FE;
$arrow: #DE7777;
$redPocli: #B02418;
$bluePocli: #3373C7;
$yellowPocli: #F5C342;
$greenPocli: #519642;
$redLightPocli: #F6E7E7;
$blueLightPocli: #E8F2FE;
$yellowLightPocli: #FEF9CE;
$greenLightPocli: #EBF6E7;

// MARGIN & PADDIN

$marginBoxTopAndBottom: 60px 0;