$primay: black;
$bg-primay: white;
$link: #2a0b0b;
$typoNav: 'Karla';

// TYPO

$fontFamily: 'Karla', sans-serif;
$fontRegular: 400;
$fontBold: 700;
$fontExtraBold: 800;
$smallTextSize: 16px;
$mediumTextSize: 18px;
$textSize: 24px;
$categorySize: 28px;
$titleSize: 38px;

// TYPO RESPONSIEVE 700px

// $resTitleSize7:
// $resTextSize7

// TYPO RESPONSIVE 400px

$resTitleSize4: 20px;
$resTextSize4: 16px;

$pageContentWidth: 1028px;
$pageContentResponsive: 100%;

// COLORS

$colorText-1: #af3d3d;
$colorText-2: #3d79af;
$colorText-3: white;
$backGround-1: #8bafcf;
$backGround-2: #e8f2fe;
$arrow: #de7777;
$redPocli: #b02418;
$bluePocli: #3373c7;
$yellowPocli: #f5c342;
$greenPocli: #519642;
$redLightPocli: #f6e7e7;
$blueLightPocli: #e8f2fe;
$yellowLightPocli: #fef9ce;
$greenLightPocli: #ebf6e7;

// MARGIN & PADDIN

$marginBoxTopAndBottom: 60px 0;
